<ion-header class="ion-no-border" translucent >
  <ion-toolbar>
    
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"
        text="regresar"
        class="verde"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondoblanco ">
 <ion-card>
  <ion-card-header>
    <ion-card-title ><h2 class="amarillo">M-xitli es un sitio web dedicado al comercio electrónico de productos istmeños.</h2></ion-card-title>
  </ion-card-header>  
    <ion-card-content >
     
       
      
        <ion-card-content class="blanco">
          <h2> Estudiantes del nivel Técnico Superior Universitario en Tecnologías de la Información de la Universidad Tecnológica del Sureste de Veracruz.</h2>
          <br>
          <h2>M-xitli nació con la necesidad y preocupación de darle a los artesanos la importancia de su trabajo, pagar precios justos por las horas que invierten en cada una de sus piezas es la mejor forma de reconocer su trabajo y poder así ayudar a la economía familiar de estos pueblos indígenas del Istmo de Tehuantepec.</h2>
          <br>
          <h2>Aportando así un granito de arena para seguir conservando y valorando la riqueza cultural mexicana.</h2>
        </ion-card-content>
      
      
    </ion-card-content>
  </ion-card>
  


  
 <ion-row>
    <ion-col size="12" size-sm>
      <ion-card class="cartamarilla">
        <ion-img class="pato" width='120' src="../../../assets/slides/chavo.jpg" ></ion-img>
        <ion-card-header >
          <ion-card-title class="ion-text-center"><h2 class="negro">Objetivo</h2></ion-card-title>
        </ion-card-header>
        <ion-card-content class="negro">
          M-xitli es un sitio de internet donde se venden productos artesanales.
    
        </ion-card-content>
    </ion-card>
    </ion-col>

    <ion-col size="12" size-sm>        
      <ion-card class="cartamarilla">
        
    <ion-img src="../../../assets/slides/producto3.jpg"></ion-img>
          <ion-card-header >
            <ion-card-title class="ion-text-center"><h2 class="negro">Misión</h2></ion-card-title>
          </ion-card-header>
          <ion-card-content class="negro">
            Nuestra misión es comercializar y distribuir los productos en la región del Istmo de Tehuantepec.

          </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-sm>
     <ion-card class="cartamarilla">
        
    <ion-img src="../../../assets/slides/producto2.jpg"></ion-img>
    <ion-card-header >
      <ion-card-title class="ion-text-center" ><h2 class="negro">Visión</h2></ion-card-title>
    </ion-card-header>
    <ion-card-content class="negro">
      Nuestra visión es ser la empresa líder en el comercio digital de productos istmeños en México.

    </ion-card-content>
     </ion-card>
    </ion-col>
    
  </ion-row>
  
</ion-content>


