
<ion-header class="ion-no-border" translucent >
  <ion-toolbar>
    
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/"
        text="regresar"
        class="verde"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">Inicio</ion-title>
  </ion-toolbar>
</ion-header>


  
<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

  lorem10000
</ion-content>

