
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>x
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content class="fondoblanco">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Productos hechos por artesanos Mexicanos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" class="verde">
      COMPRAR AHORA
    </ion-button>
    </ion-card-content>
  </ion-card>


  <ion-col size="12" size-sm class="ion-text-center"  >
    <h1 class="negro">Bienvenido a nuestra tienda electronica de productos artesanales</h1>  
   </ion-col>


    <ion-card>  
      <ion-card-header>
        <ion-card-title class="verde" ><h2>¿Sabias que?</h2></ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

          <ion-card-content class="blanco">
            <h2> ¿Las artesanías producidas en el istmo son consumidas en su mayoría a nivel local? ¡M-xitli busca llevarlo a mas regiones del país!</h2>
            <br>
            <h2>Según la Secretaría de Bienestar (2018), en nuestro país existen poco más de 12 millones de artesanos , es decir, alrededor de 10% de la población</h2>
            <br>
            <h2>El trabajo de los artesanos representa su princial fuente de ingresos.
              Pagar el precio justo por las horas que invierten en cada una de sus piezas es la mejor forma de reconocer su trabajo.</h2>
          </ion-card-content>
        
      </ion-card-content>
    </ion-card>
   

    <ion-col size="12" size-sm class="ion-text-center"  >
      <h1 class="negro">Categorias recomendadas</h1>  
     </ion-col>
  



</ion-content>
